<h1 mat-dialog-title>
  <span *ngIf="data.id == null">Add Contact</span>
  <span *ngIf="data.id != null">Update Contact</span>
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>First Name *</mat-label>
    <input [(ngModel)]="data.firstName" matInput>
  </mat-form-field>
  <p *ngIf="messageFirstName" class="text-danger">{{messageFirstName}}</p>
  <mat-form-field>
    <mat-label>Last Name *</mat-label>
    <input [(ngModel)]="data.lastName" matInput>
  </mat-form-field>
  <p *ngIf="messageLastName" class="text-danger">{{messageLastName}}</p>
  <mat-form-field>
    <mat-label>Company</mat-label>
    <input [(ngModel)]="data.company" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Number *</mat-label>
    <input [(ngModel)]="data.phoneNumber" matInput>
  </mat-form-field>
  <p *ngIf="messagePhoneNumber" class="text-danger">{{messagePhoneNumber}}</p>
  <mat-form-field>
    <mat-label>Note</mat-label>
    <input [(ngModel)]="data.note" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="" mat-button>Close</button>
  <button *ngIf="data.id == null" mat-button (click)="addContact()" cdkFocusInitial>Save</button>
  <button *ngIf="data.id != null" mat-button (click)="editContact()" cdkFocusInitial>Update</button>
</div>
