<h1 mat-dialog-title>
  Detail Contact: {{data.firstName + ' ' + data.lastName}}
</h1>
<div mat-dialog-content>
  <div class="row">
    <span class="col-4">First Name:</span>
    <span class="col-8">{{data.firstName}}</span>
  </div>

  <div class="row">
    <span class="col-4">Last Name:</span>
    <span class="col-8">{{data.lastName}}</span>
  </div>

  <div class="row">
    <span class="col-4">Company:</span>
    <span class="col-8">{{data.company}}</span>
  </div>

  <div class="row">
    <span class="col-4">Phone Number:</span>
    <span class="col-8">{{data.phoneNumber}}</span>
  </div>

  <div class="row">
    <span class="col-4">Note:</span>
    <span class="col-8">{{data.note}}</span>
  </div>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="" mat-button>Close</button>
</div>
